@charset "utf-8";
/* 全局CSS定义 */
* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background: #fff;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  /*  font-family: '宋体';*/
  color: #666;
}
/** 清除内外边距 **/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
/** 重置列表元素 **/
ul,
ol,
li {
  list-style: none;
}
/** 重置文本格式元素 **/
a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: #666;
}
/*去掉IE的虚线框*/
a:active,
a:focus {
  border: none;
  outline: none;
}
/** 重置表单元素 **/
fieldset,
img {
  border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
}
/*自定义样式*/
body {
  background: url("../images/common/cm-bg.jpg");
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.logo-icon {
  background: url("../images/common/logo-icon.png") no-repeat;
  width: 41px;
  height: 41px;
  background-size: 100% 100%;
}
.cm-btn {
  cursor: pointer;
}
.cm-disabled {
  opacity: 0.5;
  pointer-events: none;
}
#app {
  position: relative;
  height: auto;
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
}
.cm-container {
  width: 1024px;
  margin: 0px auto;
}
.cm-history-block {
  padding: 5px 0px;
}
.cm-history-block > li {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #5c2507;
}
.cm-history-block > li:after {
  content: '>>';
  padding: 0px 5px 0px 10px;
}
.cm-history-block > li.active {
  color: #850303;
}
.cm-history-block > li.active:after {
  display: none;
}
.el-dialog__title {
  color: #6e0d00 !important;
}
.el-button--primary {
  background: #6e0d00 !important;
  border: 1px solid #6e0d00 !important;
}
.el-button--primary:hover {
  background: rgba(110, 13, 0, 0.8) !important;
  border: 1px solid rgba(110, 13, 0, 0.8) !important;
}
.cm-no-content {
  font-size: 20px;
  padding: 20px 20px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  #app {
    padding-top: 1rem;
  }
  .cm-container {
    width: auto;
  }
  .el-dialog {
    width: 80% !important;
  }
}
.home .worship-title-icon {
  display: inline-block;
  background: url("../images/home/mazu-worship-title.png") no-repeat;
  width: 217px;
  height: 38px;
  background-size: 100% 100%;
}
.home .banner-panel {
  width: 100%;
  height: 320px;
  /*    background: url("../images/home/banner-bg.jpg") no-repeat center;
        background-size: cover;*/
}
.home .banner-panel .el-carousel {
  height: 100%;
}
.home .banner-panel .banner-item-content {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
}
@-webkit-keyframes link-tips-ani {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.95;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes link-tips-ani {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.95;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.home .banner-panel .banner-item-content .link-tips {
  position: relative;
  top: 75%;
  display: inline-block;
  /*position: absolute;*/
  /*display: flex;
                align-items: center;*/
  font-size: 14px;
  color: #fff;
  /*  font-family: 'LiSu';*/
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0px 20px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  -webkit-animation: link-tips-ani 2s infinite;
          animation: link-tips-ani 2s infinite;
}
.home .banner-panel .banner-item-content .link-tips .icon {
  font-size: 18px;
}
.home .worship-panel {
  margin-top: 20px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.home .worship-panel .panel-hd {
  padding: 0px 40px;
  background: url("../images/common/panel-line.png") no-repeat bottom;
  width: 100%;
  background-size: auto auto;
}
.home .worship-panel .panel-bd {
  position: relative;
  background: url("../images/home/mazu-bg.jpg") no-repeat;
  margin: 10px auto 0px auto;
  width: 961px;
  /* height: 853px;*/
  height: 900px;
  overflow: hidden;
  background-size: 100% auto;
}
@-webkit-keyframes circle-ani {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes circle-ani {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.home .worship-panel .cirle-icon {
  position: absolute;
  top: 20px;
  left: 0rem;
  right: 0rem;
  margin: auto;
  background: url("../images/home/cirle-icon.png") no-repeat;
  width: 197px;
  height: 197px;
  background-size: 100% 100%;
  -webkit-animation: circle-ani 5s infinite;
          animation: circle-ani 5s infinite;
}
@-webkit-keyframes light-ani {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes light-ani {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.home .worship-panel .light-icon {
  position: absolute;
  top: -16px;
  left: 0rem;
  right: 0rem;
  margin: auto;
  background: url("../images/home/light-icon.png") no-repeat;
  width: 271px;
  height: 271px;
  background-size: 100% 100%;
  -webkit-animation: light-ani 30s infinite;
          animation: light-ani 30s infinite;
}
.home .worship-panel .left-potted {
  position: absolute;
  top: 490px;
  left: 214px;
  background: url("../images/home/left-potted.png") no-repeat;
  width: 105px;
  height: 154px;
  background-size: 100% 100%;
}
.home .worship-panel .right-potted {
  position: absolute;
  top: 490px;
  right: 214px;
  background: url("../images/home/right-potted.png") no-repeat;
  width: 105px;
  height: 154px;
  background-size: 100% 100%;
}
.home .worship-panel .merit {
  position: absolute;
  bottom: 205px;
  right: 80px;
  background: url("../images/home/merit.png") no-repeat;
  width: 110px;
  height: 125px;
  background-size: 100% 100%;
}
.home .worship-panel .mazu {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  margin: auto;
  background: url("../images/home/mazu.png") no-repeat;
  width: 433px;
  height: 569px;
  background-size: 100% 100%;
}
@-webkit-keyframes bottom-cloud-ani {
  0% {
    -webkit-transform: translate(-1650px);
            transform: translate(-1650px);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate(-750px);
            transform: translate(-750px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(900px);
            transform: translate(900px);
    opacity: 1;
  }
}
@keyframes bottom-cloud-ani {
  0% {
    -webkit-transform: translate(-1650px);
            transform: translate(-1650px);
    opacity: 1;
  }
  30% {
    -webkit-transform: translate(-750px);
            transform: translate(-750px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(900px);
            transform: translate(900px);
    opacity: 1;
  }
}
.home .worship-panel .bottom-cloud {
  position: absolute;
  left: 58px;
  /* bottom: 70px;*/
  bottom: 15px;
  background: url("../images/home/bottom-cloud.png") no-repeat;
  width: 1712px;
  height: 180px;
  background-size: 100% 100%;
  -webkit-transform: translate(-1712px);
      -ms-transform: translate(-1712px);
          transform: translate(-1712px);
  -webkit-animation: bottom-cloud-ani 150s infinite;
          animation: bottom-cloud-ani 150s infinite;
}
.home .worship-panel .bottom-cloud2 {
  bottom: 200px;
  -webkit-transform: translate(-1750px);
      -ms-transform: translate(-1750px);
          transform: translate(-1750px);
  -webkit-animation: bottom-cloud-ani 200s infinite;
          animation: bottom-cloud-ani 200s infinite;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.home .worship-panel .bottom-cloud3 {
  bottom: 180px;
  -webkit-transform: translate(-1750px);
      -ms-transform: translate(-1750px);
          transform: translate(-1750px);
  -webkit-animation: bottom-cloud-ani 200s infinite;
          animation: bottom-cloud-ani 200s infinite;
  -webkit-animation-delay: 50s;
          animation-delay: 50s;
}
.home .worship-panel .bottom-cloud4 {
  bottom: -50px;
  -webkit-transform: translate(-1750px);
      -ms-transform: translate(-1750px);
          transform: translate(-1750px);
  -webkit-animation: bottom-cloud-ani 200s infinite;
          animation: bottom-cloud-ani 200s infinite;
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}
.home .worship-panel .bottom-cloud-wrap {
  position: absolute;
  left: 0px;
  bottom: 46px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.home .worship-panel .burner {
  position: absolute;
  top: 618px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 543px;
  height: 111px;
  background-size: 100% 100%;
  background-image: url('../images/home/burner.png');
}
.home .worship-panel .number-block {
  position: absolute;
  top: 0px;
  left: 10px;
}
.home .worship-panel .number-block .row {
  background: url("../images/home/counter-bg.png") no-repeat;
  min-width: 170px;
  height: 36px;
  background-size: 100% 100%;
  color: #59120b;
  font-size: 12px;
  padding: 15px 10px 0px 12px;
}
.home .worship-panel .number-block .row .strong {
  font-size: 14px;
  color: #e71719;
  font-weight: bold;
}
.home .worship-panel .data-block {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url("../images/home/data-bg.png") no-repeat;
  background-size: 100% 100%;
  min-width: 130px;
  height: 79px;
  color: #59120b;
  font-size: 12px;
  line-height: 17px;
  padding: 13px 10px 10px 15px;
}
.home .worship-panel .data-block p {
  white-space: nowrap;
}
.home .worship-panel .data-block .strong {
  font-size: 14px;
  color: #e71719;
  font-weight: bold;
}
.home .barrage-block {
  position: absolute;
  background: url("../images/home/barrage-bg.png") no-repeat;
  width: 189px;
  height: 222px;
  left: 10px;
  bottom: 55px;
  padding: 10px 0px;
}
.home .barrage-block .block-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.home .barrage-block ul {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 0px 8px;
}
.home .barrage-block ul li {
  margin: 2px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}
.home .barrage-block ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.home .barrage-block ul li .text {
  padding-left: 5px;
  font-size: 12px;
  color: #d4d4d4;
}
.home .barrage-block ul li .text span {
  color: #ddbf6e;
}
@-webkit-keyframes barrage-ani {
  0% {
    box-shadow: 0px 0px 10px #ffe400;
  }
  50% {
    box-shadow: 1px 1px 4px #ffe400;
  }
  100% {
    box-shadow: 0px 0px 10px #ffe400;
  }
}
@keyframes barrage-ani {
  0% {
    box-shadow: 0px 0px 10px #ffe400;
  }
  50% {
    box-shadow: 1px 1px 4px #ffe400;
  }
  100% {
    box-shadow: 0px 0px 10px #ffe400;
  }
}
.home .barrage-block ul li.active {
  -webkit-animation: barrage-ani 1.2s infinite;
          animation: barrage-ani 1.2s infinite;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}
.home .left-desk {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 373px;
  display: inline-block;
  background: url("../images/home/left-desk.png") no-repeat;
  width: 281px;
  height: 225px;
  background-size: 100% 100%;
}
.home .right-desk {
  position: absolute;
  z-index: 0;
  right: 0px;
  top: 373px;
  display: inline-block;
  background: url("../images/home/right-desk.png") no-repeat;
  width: 280px;
  height: 225px;
  background-size: 100% 100%;
}
.home .btn-block {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 2;
  bottom: 15px;
  margin: auto;
  width: 380px;
  height: 182px;
}
.home .btn-block .block-content {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  background: url("../images/home/counter.png") no-repeat center 88%;
  background-size: auto;
}
.home .btn-block .btn-list {
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 0px;
  bottom: 0px;
}
.home .btn-block .btn-list > li {
  display: inline-block;
  width: 80px;
}
@-webkit-keyframes worship-ani {
  0% {
    box-shadow: 0px 0px 25px #ffe400;
    opacity: 0.9;
  }
  50% {
    box-shadow: 1px 1px 2px #ffe400;
    opacity: 1;
  }
  100% {
    box-shadow: 0px 0px 25px #ffe400;
    opacity: 0.9;
  }
}
@keyframes worship-ani {
  0% {
    box-shadow: 0px 0px 25px #ffe400;
    opacity: 0.9;
  }
  50% {
    box-shadow: 1px 1px 2px #ffe400;
    opacity: 1;
  }
  100% {
    box-shadow: 0px 0px 25px #ffe400;
    opacity: 0.9;
  }
}
.home .btn-block .worship-icon {
  display: inline-block;
  background: url("../images/home/worship-icon.png") no-repeat;
  width: 135px;
  height: 49px;
  background-size: 100% 100%;
  box-shadow: 0px 0px 10px #ffe400;
  -webkit-animation: worship-ani 1.2s infinite;
          animation: worship-ani 1.2s infinite;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.home .btn-block .worship-icon:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.home .btn-block .flower-btn {
  background: url("../images/home/flower-btn.png") no-repeat;
  width: 59px;
  height: 137px;
  background-size: 100% 100%;
}
.home .btn-block .flower-btn:hover,
.home .btn-block .flower-btn:active {
  background: url("../images/home/flower-btn-active.png") no-repeat;
  width: 74px;
  height: 151px;
  background-size: 100% 100%;
}
.home .btn-block .flower-btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.home .btn-block .incense-btn {
  background: url("../images/home/incense-btn.png") no-repeat;
  width: 67px;
  height: 112px;
  background-size: 100% 100%;
}
.home .btn-block .incense-btn:hover,
.home .btn-block .incense-btn:active {
  background: url("../images/home/incense-btn-active.png") no-repeat;
  width: 83px;
  height: 126px;
  background-size: 100% 100%;
}
.home .btn-block .incense-btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.home .btn-block .candlestick-btn {
  background: url("../images/home/candlestick-btn.png") no-repeat;
  width: 42px;
  height: 128px;
  background-size: 100% 100%;
}
.home .btn-block .candlestick-btn:hover,
.home .btn-block .candlestick-btn:active {
  background: url("../images/home/candlestick-btn-active.png") no-repeat;
  width: 56px;
  height: 141px;
  background-size: 100% 100%;
}
.home .btn-block .candlestick-btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.home .dialog-block {
  opacity: 0;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 128px;
  left: 495px;
  background: url("../images/home/dialog-panel.png") no-repeat;
  width: 328px;
  min-height: 123px;
  background-size: 100% 100%;
  font-size: 16px;
  color: #feeaab;
  padding: 10px 10px 10px 85px;
  line-height: 24px;
  /*  font-family: '隶书';*/
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.home .dialog-block.active {
  opacity: 1;
}
.home .flower-icon {
  display: inline-block;
  background: url("../images/home/flower-icon.png");
  width: 57px;
  height: 110px;
  background-size: 100% 100%;
}
.home .gift-item {
  opacity: 0;
  position: absolute;
  z-index: 1;
}
.home .sent-item {
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
.home .sent-item.active {
  opacity: 1;
}
.home .sent-item.new {
  -webkit-transition: none !important;
  transition: none !important;
}
.home .flower-gift-item {
  -webkit-transform: translate(369px, 759px);
      -ms-transform: translate(369px, 759px);
          transform: translate(369px, 759px);
}
.home .flower-gift-item.active {
  opacity: 1;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
.home .incense-gift-item {
  -webkit-transform: translate(464px, 635px);
      -ms-transform: translate(464px, 635px);
          transform: translate(464px, 635px);
}
.home .incense-gift-item .incense-item {
  position: static;
}
.home .incense-gift-item.active {
  opacity: 1;
  -webkit-transition: -webkit-transform 1.4s ease;
  transition: -webkit-transform 1.4s ease;
  transition: transform 1.4s ease;
  transition: transform 1.4s ease, -webkit-transform 1.4s ease;
}
.home .gcandlestick-gift-item {
  -webkit-transform: translate(559px, 780px);
      -ms-transform: translate(559px, 780px);
          transform: translate(559px, 780px);
}
.home .gcandlestick-gift-item .candlestick-item {
  position: static;
}
.home .gcandlestick-gift-item.active {
  opacity: 1;
  -webkit-transition: -webkit-transform 1.8s ease;
  transition: -webkit-transform 1.8s ease;
  transition: transform 1.8s ease;
  transition: transform 1.8s ease, -webkit-transform 1.8s ease;
}
.home .flower-item {
  position: absolute;
  -webkit-transform: translate(0px, 272px);
      -ms-transform: translate(0px, 272px);
          transform: translate(0px, 272px);
}
.home .candlestick-item {
  display: inline-block;
  width: 30px;
  position: absolute;
  /* transform:translate(0px, 375px);*/
}
.home .candlestick-item .wrapper {
  position: relative;
  text-align: center;
}
.home .candlestick-item .fire-icon {
  position: relative;
  top: 5px;
  left: 8px;
  display: block;
  background: url("../images/home/fire-icon.gif") no-repeat;
  width: 12px;
  height: 24px;
  background-size: 100% 100%;
}
.home .candlestick-item .candlestick-icon {
  display: inline-block;
  background: url("../images/home/candlestick-icon.png");
  width: 30px;
  height: 45px;
  background-size: 100% 100%;
}
.home .incense-icon {
  display: inline-block;
  background: url("../images/home/incense-icon.png");
  width: 61px;
  height: 223px;
  background-size: 100% 100%;
}
.home .tem-item {
  position: absolute;
  z-index: 100;
  top: 400px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 100px;
  border: 1px solid blue;
  display: inline-block;
}
.home .tem-item .wrapper {
  position: relative;
}
.home .smoke-icon {
  width: 24px;
  height: 120px;
  background: url("../images/home/smoke-icon.gif");
  background-size: 100% 100%;
  opacity: 0.28;
  -webkit-transform: rotateY(35deg);
          transform: rotateY(35deg);
}
@-webkit-keyframes smoke-png-icon-ani {
  0% {
    -webkit-transform: skew(10deg, 10deg);
            transform: skew(10deg, 10deg);
  }
  50% {
    -webkit-transform: skew(10deg, 10deg);
            transform: skew(10deg, 10deg);
  }
  100% {
    -webkit-transform: skew(10deg, 10deg);
            transform: skew(10deg, 10deg);
  }
}
@keyframes smoke-png-icon-ani {
  0% {
    -webkit-transform: skew(10deg, 10deg);
            transform: skew(10deg, 10deg);
  }
  50% {
    -webkit-transform: skew(10deg, 10deg);
            transform: skew(10deg, 10deg);
  }
  100% {
    -webkit-transform: skew(10deg, 10deg);
            transform: skew(10deg, 10deg);
  }
}
.home .smoke-png-icon {
  background: url("../images/home/smoke-icon.png");
  width: 56px;
  height: 150px;
  background-size: 100% 100%;
  background-color: #000;
  -webkit-animation: smoke-png-icon-ani 0.8s infinite;
          animation: smoke-png-icon-ani 0.8s infinite;
}
.home .incense-item {
  position: absolute;
  /*transform:translate(412px, 429px);*/
  /*  width: 110px;
        height: 300px;
        border: 1px solid blue;*/
}
.home .incense-item .wrapper {
  text-align: center;
}
.home .incense-item .stick-icon {
  position: absolute;
  display: inline-block;
  background: url("../images/home/incense-long-icon.png");
  width: 19px;
  height: 75px;
  background-size: 100% 100%;
  left: 0px;
  right: 0px;
  margin: auto;
}
@media screen and (max-width: 1600px) {
  .home {
    /*  .worship-panel{
            .panel-bd{
                transform: scale(0.8);
            }
        }*/
  }
  .home .banner-panel {
    width: 100%;
    height: 220px;
  }
  .home .worship-panel .panel-bd {
    width: 747px;
    height: 700px;
  }
  .home .worship-panel .left-desk {
    top: 292px;
    width: 216px;
    height: 173px;
  }
  .home .worship-panel .right-desk {
    top: 292px;
    width: 216px;
    height: 173px;
  }
  .home .worship-panel .cirle-icon {
    top: 27px;
    width: 151px;
    height: 151px;
  }
  .home .worship-panel .light-icon {
    position: absolute;
    top: 2px;
    width: 208px;
    height: 208px;
  }
  .home .worship-panel .left-potted {
    position: absolute;
    top: 395px;
    left: 168px;
    background: url("../images/home/left-potted.png") no-repeat;
    width: 80px;
    height: 118px;
    background-size: 100% 100%;
  }
  .home .worship-panel .right-potted {
    position: absolute;
    top: 395px;
    right: 168px;
    background: url("../images/home/right-potted.png") no-repeat;
    width: 80px;
    height: 118px;
    background-size: 100% 100%;
  }
  .home .worship-panel .merit {
    position: absolute;
    bottom: 157px;
    right: 64px;
    width: 84px;
    height: 96px;
  }
  .home .worship-panel .mazu {
    top: 80px;
    background: url("../images/home/mazu.png") no-repeat;
    width: 333px;
    height: 438px;
    background-size: 100% 100%;
  }
  .home .worship-panel .dialog-block {
    top: 107px;
    left: 385px;
  }
  .home .worship-panel .bottom-cloud {
    position: absolute;
    left: 44px;
    bottom: 12px;
    background: url("../images/home/bottom-cloud.png") no-repeat;
    width: 1318px;
    height: 138px;
    background-size: 100% 100%;
    -webkit-transform: translate(-1318px);
        -ms-transform: translate(-1318px);
            transform: translate(-1318px);
    -webkit-animation: bottom-cloud-ani 115s infinite;
            animation: bottom-cloud-ani 115s infinite;
  }
  .home .worship-panel .bottom-cloud2 {
    bottom: 154px;
    -webkit-transform: translate(-1318px);
        -ms-transform: translate(-1318px);
            transform: translate(-1318px);
    -webkit-animation: bottom-cloud-ani 115s infinite;
            animation: bottom-cloud-ani 115s infinite;
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }
  .home .worship-panel .bottom-cloud3 {
    bottom: 138px;
    -webkit-transform: translate(-1318px);
        -ms-transform: translate(-1318px);
            transform: translate(-1318px);
    -webkit-animation: bottom-cloud-ani 115s infinite;
            animation: bottom-cloud-ani 115s infinite;
    -webkit-animation-delay: 40s;
            animation-delay: 40s;
  }
  .home .worship-panel .bottom-cloud4 {
    bottom: -38px;
    -webkit-transform: translate(-1318px);
        -ms-transform: translate(-1318px);
            transform: translate(-1318px);
    -webkit-animation: bottom-cloud-ani 115s infinite;
            animation: bottom-cloud-ani 115s infinite;
    -webkit-animation-delay: 30s;
            animation-delay: 30s;
  }
  .home .worship-panel .bottom-cloud-wrap {
    bottom: 38px;
    height: 250px;
  }
  .home .worship-panel .burner {
    position: absolute;
    top: 475px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 418px;
    height: 85px;
    background-size: 100% 100%;
    background-image: url('../images/home/burner.png');
  }
  .home .flower-icon {
    display: inline-block;
    background: url("../images/home/flower-icon.png");
    width: 34px;
    height: 66px;
    background-size: 100% 100%;
  }
  .home .incense-icon {
    display: inline-block;
    background: url("../images/home/incense-icon.png");
    width: 46px;
    height: 179px;
    background-size: 100% 100%;
  }
  .home .candlestick-item {
    display: inline-block;
    width: 23px;
    position: absolute;
    /* transform:translate(0px, 375px);*/
  }
  .home .candlestick-item .wrapper {
    position: relative;
    text-align: center;
  }
  .home .candlestick-item .fire-icon {
    position: relative;
    top: 4px;
    left: 6px;
    display: block;
    background: url("../images/home/fire-icon.gif") no-repeat;
    width: 10px;
    height: 20px;
    background-size: 100% 100%;
  }
  .home .candlestick-item .candlestick-icon {
    display: inline-block;
    background: url("../images/home/candlestick-icon.png");
    width: 23px;
    height: 35px;
    background-size: 100% 100%;
  }
  .home .flower-gift-item {
    -webkit-transform: translate(277px, 584px);
        -ms-transform: translate(277px, 584px);
            transform: translate(277px, 584px);
  }
  .home .flower-gift-item.active {
    opacity: 1;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }
  .home .incense-gift-item {
    -webkit-transform: translate(357px, 450px);
        -ms-transform: translate(357px, 450px);
            transform: translate(357px, 450px);
  }
  .home .incense-gift-item.active {
    opacity: 1;
    -webkit-transition: -webkit-transform 1.4s ease;
    transition: -webkit-transform 1.4s ease;
    transition: transform 1.4s ease;
    transition: transform 1.4s ease, -webkit-transform 1.4s ease;
  }
  .home .gcandlestick-gift-item {
    -webkit-transform: translate(430px, 600px);
        -ms-transform: translate(430px, 600px);
            transform: translate(430px, 600px);
  }
  .home .gcandlestick-gift-item .candlestick-item {
    position: static;
  }
  .home .gcandlestick-gift-item.active {
    opacity: 1;
    -webkit-transition: -webkit-transform 1.8s ease;
    transition: -webkit-transform 1.8s ease;
    transition: transform 1.8s ease;
    transition: transform 1.8s ease, -webkit-transform 1.8s ease;
  }
  .home .btn-block {
    bottom: 40px;
    margin: auto;
    width: 292px;
    height: 140px;
  }
  .home .btn-block .block-content {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    background: url("../images/home/counter.png") no-repeat center 88%;
    background-size: 100% auto;
  }
  .home .btn-block .btn-list {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0px;
    bottom: 0px;
  }
  .home .btn-block .btn-list > li {
    display: inline-block;
    width: 60px;
  }
  .home .btn-block .worship-icon {
    display: inline-block;
    background: url("../images/home/worship-icon.png") no-repeat;
    width: 103px;
    height: 37px;
    background-size: 100% 100%;
  }
  .home .btn-block .flower-btn {
    background: url("../images/home/flower-btn.png") no-repeat;
    width: 45px;
    height: 105px;
    background-size: 100% 100%;
  }
  .home .btn-block .flower-btn:hover,
  .home .btn-block .flower-btn:active {
    background: url("../images/home/flower-btn-active.png") no-repeat;
    width: 56px;
    height: 116px;
    background-size: 100% 100%;
  }
  .home .btn-block .flower-btn:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }
  .home .btn-block .incense-btn {
    background: url("../images/home/incense-btn.png") no-repeat;
    width: 51px;
    height: 86px;
    background-size: 100% 100%;
  }
  .home .btn-block .incense-btn:hover,
  .home .btn-block .incense-btn:active {
    background: url("../images/home/incense-btn-active.png") no-repeat;
    width: 63px;
    height: 97px;
    background-size: 100% 100%;
  }
  .home .btn-block .incense-btn:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }
  .home .btn-block .candlestick-btn {
    background: url("../images/home/candlestick-btn.png") no-repeat;
    width: 29px;
    height: 98px;
    background-size: 100% 100%;
  }
  .home .btn-block .candlestick-btn:hover,
  .home .btn-block .candlestick-btn:active {
    background: url("../images/home/candlestick-btn-active.png") no-repeat;
    width: 43px;
    height: 108px;
    background-size: 100% 100%;
  }
  .home .btn-block .candlestick-btn:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }
  .home .barrage-block {
    position: absolute;
    background: url("../images/home/barrage-bg.png") no-repeat;
    width: 189px;
    height: 222px;
    left: 0px;
    bottom: 40px;
  }
  .home .barrage-block .block-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .home .banner-panel {
    width: 100%;
    height: 3.2rem;
    /*    background: url("../images/home/banner-bg.jpg") no-repeat center;
                background-size: cover;*/
  }
  .home .banner-panel .banner-item-content .link-tips {
    top: 72%;
    font-size: 0.24rem;
    height: 0.5rem;
    line-height: 0.5rem;
    border-radius: 0.25rem;
    padding: 0rem 0.3rem;
  }
  .home .worship-panel {
    margin-top: 0.1rem;
  }
  .home .worship-panel .panel-hd {
    padding: 0px 0.2rem;
    background: url("../images/common/panel-line.png") no-repeat bottom;
    width: 100%;
    background-size: 100% auto;
  }
  .home .worship-panel .panel-hd .worship-title-icon {
    width: 4.34rem;
    height: 0.76rem;
  }
  .home .worship-panel .panel-bd {
    position: relative;
    background: url("../images/home/mazu-bg.jpg") no-repeat;
    margin: 0.2rem auto 0px auto;
    width: 100%;
    height: 9.8rem;
    overflow: hidden;
    background-position: top center;
    background-size: auto 94%;
  }
  @-webkit-keyframes bottom-cloud-ani {
    0% {
      -webkit-transform: translate(-24.65rem);
              transform: translate(-24.65rem);
      opacity: 1;
    }
    30% {
      -webkit-transform: translate(-10rem);
              transform: translate(-10rem);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(12rem);
              transform: translate(12rem);
      opacity: 1;
    }
  }
  @keyframes bottom-cloud-ani {
    0% {
      -webkit-transform: translate(-24.65rem);
              transform: translate(-24.65rem);
      opacity: 1;
    }
    30% {
      -webkit-transform: translate(-10rem);
              transform: translate(-10rem);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(12rem);
              transform: translate(12rem);
      opacity: 1;
    }
  }
  .home .worship-panel .bottom-cloud {
    left: 0.1rem;
    bottom: 0.4rem;
    width: 24.65rem;
    height: 2.59rem;
    -webkit-transform: translate(-24.65rem);
        -ms-transform: translate(-24.65rem);
            transform: translate(-24.65rem);
    -webkit-animation: bottom-cloud-ani 100s infinite;
            animation: bottom-cloud-ani 100s infinite;
  }
  .home .worship-panel .bottom-cloud2 {
    bottom: 2rem;
    -webkit-transform: translate(-24.65rem);
        -ms-transform: translate(-24.65rem);
            transform: translate(-24.65rem);
    -webkit-animation: bottom-cloud-ani 110s infinite;
            animation: bottom-cloud-ani 110s infinite;
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }
  .home .worship-panel .bottom-cloud3 {
    bottom: 1.8rem;
    -webkit-transform: translate(-1750px);
        -ms-transform: translate(-1750px);
            transform: translate(-1750px);
    -webkit-animation: bottom-cloud-ani 200s infinite;
            animation: bottom-cloud-ani 200s infinite;
    -webkit-animation-delay: 50s;
            animation-delay: 50s;
  }
  .home .worship-panel .bottom-cloud4 {
    bottom: -1rem;
    -webkit-transform: translate(-24.65rem);
        -ms-transform: translate(-24.65rem);
            transform: translate(-24.65rem);
    -webkit-animation: bottom-cloud-ani 120s infinite;
            animation: bottom-cloud-ani 120s infinite;
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
  .home .worship-panel .bottom-cloud-wrap {
    left: 0rem;
    bottom: 0.6rem;
    height: 4rem;
  }
  .home .worship-panel .dialog-block {
    opacity: 0;
    top: 1.7rem;
    left: 3.8rem;
    width: 3.5rem;
    min-height: 1.2rem;
    /*     max-height: 1.4rem;*/
    overflow: hidden;
    font-size: 0.24rem;
    padding: 0.1rem 0.12rem 0.1rem 0.9rem;
    line-height: 0.34rem;
    -webkit-transform: scale(0.78);
        -ms-transform: scale(0.78);
            transform: scale(0.78);
  }
  .home .worship-panel .dialog-block.active {
    opacity: 1;
  }
  .home .worship-panel .number-block {
    top: 0rem;
    left: 0.04rem;
  }
  .home .worship-panel .number-block .row {
    position: relative;
    z-index: 1;
    margin-top: -0.08rem;
    min-width: 3.04rem;
    height: 0.64rem;
    font-size: 0.24rem;
    padding: 0.24rem 0.2rem 0rem 0.2rem;
    white-space: nowrap;
  }
  .home .worship-panel .number-block .row .strong {
    font-size: 0.28rem;
  }
  .home .worship-panel .number-block .row + .row {
    z-index: 0;
  }
  .home .worship-panel .data-block {
    top: 0rem;
    right: 0rem;
    min-width: 2.34rem;
    height: 1.42rem;
    font-size: 0.24rem;
    line-height: 0.32rem;
    padding: 0.24rem 0.18rem 0rem 0.24rem;
  }
  .home .worship-panel .data-block .strong {
    font-size: 0.24rem;
    color: #e71719;
    font-weight: bold;
  }
  .home .worship-panel .left-desk {
    left: 0rem;
    top: 4rem;
    width: 2.16rem;
    height: 1.73rem;
  }
  .home .worship-panel .right-desk {
    right: 0rem;
    top: 4rem;
    width: 2.16rem;
    height: 1.73rem;
  }
  .home .worship-panel .cirle-icon {
    top: 1.12rem;
    width: 1.51rem;
    height: 1.51rem;
  }
  .home .worship-panel .light-icon {
    position: absolute;
    top: 0.9rem;
    width: 2.08rem;
    height: 2.08rem;
  }
  .home .worship-panel .left-potted {
    top: 4.8rem;
    left: 1.68rem;
    width: 0.8rem;
    height: 1.18rem;
  }
  .home .worship-panel .right-potted {
    top: 4.8rem;
    right: 1.68rem;
    width: 0.8rem;
    height: 1.18rem;
  }
  .home .worship-panel .merit {
    top: 5.5rem;
    bottom: auto;
    right: 0.6rem;
    width: 0.84rem;
    height: 0.96rem;
  }
  .home .worship-panel .mazu {
    top: 1.68rem;
    width: 3.33rem;
    height: 4.33rem;
  }
  .home .worship-panel .burner {
    top: 5.8rem;
    width: 4.18rem;
    height: 0.85rem;
  }
  .home .worship-panel .flower-icon {
    display: inline-block;
    background: url("../images/home/flower-icon.png");
    width: 0.40rem;
    height: 0.79rem;
    background-size: 100% 100%;
  }
  .home .worship-panel .candlestick-item {
    display: inline-block;
    width: 0.28rem;
    position: absolute;
  }
  .home .worship-panel .candlestick-item .wrapper {
    position: relative;
    text-align: center;
  }
  .home .worship-panel .candlestick-item .fire-icon {
    top: 0.06rem;
    left: 0.08rem;
    width: 0.12rem;
    height: 0.24rem;
  }
  .home .worship-panel .candlestick-item .candlestick-icon {
    width: 0.28rem;
    height: 0.43rem;
  }
  .home .worship-panel .smoke-icon {
    width: 0.24rem;
    height: 1.36rem;
    background: url("../images/home/smoke-icon.gif");
    background-size: 100% 100%;
    opacity: 0.28;
    -webkit-transform: rotateY(35deg);
            transform: rotateY(35deg);
  }
  .home .worship-panel .incense-item .stick-icon {
    width: 0.2rem;
    height: 0.82rem;
  }
  .home .worship-panel .barrage-block {
    position: absolute;
    z-index: 10;
    background: url("../images/home/barrage-bg.png") no-repeat;
    background-size: 100% 100%;
    width: 2.6rem;
    height: 3.6rem;
    left: 0rem;
    bottom: 0.8rem;
    padding: 0.1rem 0rem;
  }
  .home .worship-panel .barrage-block .block-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .home .worship-panel .barrage-block ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0px 0.04rem;
  }
  .home .worship-panel .barrage-block ul li {
    margin: 0.04rem 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0.3rem;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
  .home .worship-panel .barrage-block ul li img {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
  }
  .home .worship-panel .barrage-block ul li .text {
    padding-left: 0.1rem;
    font-size: 0.24rem;
    color: #d4d4d4;
  }
  .home .worship-panel .barrage-block ul li .text span {
    color: #ddbf6e;
  }
  .home .worship-panel .barrage-block ul li .text span:first-child {
    display: block;
  }
  @-webkit-keyframes barrage-ani {
    0% {
      box-shadow: 0px 0px 10px #ffe400;
    }
    50% {
      box-shadow: 1px 1px 4px #ffe400;
    }
    100% {
      box-shadow: 0px 0px 10px #ffe400;
    }
  }
  @keyframes barrage-ani {
    0% {
      box-shadow: 0px 0px 10px #ffe400;
    }
    50% {
      box-shadow: 1px 1px 4px #ffe400;
    }
    100% {
      box-shadow: 0px 0px 10px #ffe400;
    }
  }
  .home .worship-panel .barrage-block ul li.active {
    -webkit-animation: barrage-ani 1.2s infinite;
            animation: barrage-ani 1.2s infinite;
    -webkit-animation-iteration-count: 3;
            animation-iteration-count: 3;
    -webkit-animation-fill-mode: none;
            animation-fill-mode: none;
  }
  .home .worship-panel .btn-block {
    z-index: 50;
    bottom: 0rem;
    margin: auto;
    width: 4.8rem;
    height: 2.8rem;
  }
  .home .worship-panel .btn-block .block-content {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    background: url("../images/home/counter.png") no-repeat center 88%;
    background-size: 100% auto;
  }
  .home .worship-panel .btn-block .btn-list {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0px;
    bottom: 0px;
  }
  .home .worship-panel .btn-block .btn-list > li {
    display: inline-block;
    width: 1.08rem;
  }
  .home .worship-panel .btn-block .worship-icon {
    display: inline-block;
    background: url("../images/home/worship-icon.png") no-repeat;
    width: 2.05rem;
    height: 0.74rem;
    background-size: 100% 100%;
  }
  .home .worship-panel .btn-block .flower-btn {
    background: url("../images/home/flower-btn.png") no-repeat;
    width: 0.81rem;
    height: 1.89rem;
    background-size: 100% 100%;
  }
  .home .worship-panel .btn-block .flower-btn:active {
    background: url("../images/home/flower-btn-active.png") no-repeat;
    width: 1rem;
    height: 2.08rem;
    background-size: 100% 100%;
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }
  .home .worship-panel .btn-block .incense-btn {
    background: url("../images/home/incense-btn.png") no-repeat;
    width: 0.91rem;
    height: 1.53rem;
    background-size: 100% 100%;
  }
  .home .worship-panel .btn-block .incense-btn:active {
    background: url("../images/home/incense-btn-active.png") no-repeat;
    width: 1.13rem;
    height: 1.74rem;
    background-size: 100% 100%;
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }
  .home .worship-panel .btn-block .candlestick-btn {
    background: url("../images/home/candlestick-btn.png") no-repeat;
    width: 0.52rem;
    height: 1.76rem;
    background-size: 100% 100%;
  }
  .home .worship-panel .btn-block .candlestick-btn:active {
    background: url("../images/home/candlestick-btn-active.png") no-repeat;
    width: 0.77rem;
    height: 1.94rem;
    background-size: 100% 100%;
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }
  .home .worship-panel .flower-gift-item {
    -webkit-transform: translate(2.2rem, 7.9rem);
        -ms-transform: translate(2.2rem, 7.9rem);
            transform: translate(2.2rem, 7.9rem);
    width: 0.8rem;
    height: 1.58rem;
  }
  .home .worship-panel .flower-gift-item.active {
    width: 0.4rem;
    height: 0.79rem;
  }
  .home .worship-panel .incense-gift-item {
    -webkit-transform: translate(3.6rem, 6.8rem);
        -ms-transform: translate(3.6rem, 6.8rem);
            transform: translate(3.6rem, 6.8rem);
  }
  .home .worship-panel .gcandlestick-gift-item {
    -webkit-transform: translate(5.59rem, 7.8rem);
        -ms-transform: translate(5.59rem, 7.8rem);
            transform: translate(5.59rem, 7.8rem);
  }
  .home .worship-panel .gcandlestick-gift-item .candlestick-item {
    position: static;
    width: 0.56rem;
    -webkit-transition: all 1.8s ease;
    transition: all 1.8s ease;
  }
  .home .worship-panel .gcandlestick-gift-item .candlestick-item .fire-icon {
    top: 0.12rem;
    left: 0.16rem;
    width: 0.24rem;
    height: 0.48rem;
    -webkit-transition: all 1.8s ease;
    transition: all 1.8s ease;
  }
  .home .worship-panel .gcandlestick-gift-item .candlestick-item .candlestick-icon {
    width: 0.56rem;
    height: 0.86rem;
    -webkit-transition: all 1.8s ease;
    transition: all 1.8s ease;
  }
  .home .worship-panel .gcandlestick-gift-item.active {
    opacity: 1;
    -webkit-transition: -webkit-transform 1.8s ease;
    transition: -webkit-transform 1.8s ease;
    transition: transform 1.8s ease;
    transition: transform 1.8s ease, -webkit-transform 1.8s ease;
  }
  .home .worship-panel .gcandlestick-gift-item.active .candlestick-item {
    width: 0.28rem;
  }
  .home .worship-panel .gcandlestick-gift-item.active .candlestick-item .fire-icon {
    top: 0.06rem;
    left: 0.08rem;
    width: 0.12rem;
    height: 0.24rem;
  }
  .home .worship-panel .gcandlestick-gift-item.active .candlestick-item .candlestick-icon {
    width: 0.28rem;
    height: 0.43rem;
  }
}
.cm-page .introduce-panel {
  padding-top: 25px;
  overflow: hidden;
}
.cm-page .introduce-panel .avatar {
  float: left;
  position: relative;
  width: 150px;
  height: 150px;
  padding: 5px;
}
.cm-page .introduce-panel .avatar img {
  width: 100%;
  height: 100%;
}
.cm-page .introduce-panel .avatar .avatar-mask {
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../images/common/avatar-mask.png") no-repeat;
  width: 150px;
  height: 150px;
  background-size: 100% 100%;
}
.cm-page .introduce-panel .text-info {
  margin-left: 15px;
  float: left;
  width: 42%;
}
.cm-page .introduce-panel .text-info .title {
  font-size: 18px;
  color: #891619;
}
.cm-page .introduce-panel .text-info .desc {
  margin-top: 5px;
  font-size: 12px;
  color: #333;
  line-height: 20px;
}
.cm-page .introduce-panel .text-info .handle-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 12px;
  font-size: 16px;
  color: #fffef4;
  background: url("../images/common/btn-bg.png") no-repeat;
  background-size: 100% 100%;
  font-family: '隶书';
}
.cm-page .introduce-panel .text-info .link-btn {
  padding-left: 5px;
  color: #850303;
}
.cm-page .introduce-panel .gallery {
  float: right;
  width: 38%;
  height: 150px;
}
.cm-page .introduce-panel .gallery .el-carousel__container {
  height: 150px;
}
.cm-page .introduce-panel .gallery .el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  margin: 0;
}
.cm-page .introduce-panel .gallery .el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}
.cm-page .introduce-panel .gallery .el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
.cm-page .detail-panel {
  margin-top: 30px;
}
.cm-page .detail-panel .panel-hd {
  position: relative;
}
.cm-page .detail-panel .panel-hd .association-title-icon {
  background: url("../images/association/dynamic-title.png") no-repeat;
  width: 114px;
  height: 38px;
  background-size: 100% 100%;
}
.cm-page .detail-panel .panel-hd .encyclopedia-title-icon {
  background: url("../images/encyclopedia/dynamic-title.png") no-repeat;
  width: 160px;
  height: 38px;
  background-size: 100% 100%;
}
.cm-page .detail-panel .panel-hd .line {
  position: absolute;
  left: 0rem;
  right: 0rem;
  bottom: 0px;
  margin: auto;
  background: url("../images/common/panel-line.png") no-repeat bottom;
  width: 92%;
  height: 3px;
  background-size: 100% auto;
}
.cm-page .detail-panel .panel-hd .tab-list > li {
  display: inline-block;
  font-size: 18px;
  padding: 3px 12px;
  color: #333;
  font-family: '隶书';
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}
.cm-page .detail-panel .panel-hd .tab-list > li.active {
  background: url("../images/common/btn-bg.png") no-repeat;
  background-size: 100% 100%;
  color: #fffef4;
}
.cm-page .detail-panel .panel-bd {
  padding-top: 20px;
  /*  min-height: 600px;*/
}
.cm-page .detail-panel .panel-bd .entry-list .entry {
  overflow: hidden;
  cursor: pointer;
}
.cm-page .detail-panel .panel-bd .entry-list .entry .cover {
  float: left;
  width: 180px;
  height: 124px;
  background: #eaeaea;
}
.cm-page .detail-panel .panel-bd .entry-list .entry img {
  width: 100%;
  height: 100%;
}
.cm-page .detail-panel .panel-bd .entry-list .entry .text-info {
  padding-left: 200px;
  padding-right: 50px;
  font-size: 12px;
  color: #676664;
}
.cm-page .detail-panel .panel-bd .entry-list .entry .text-info .title {
  margin-top: 5px;
  font-size: 14px;
  color: #891619;
}
.cm-page .detail-panel .panel-bd .entry-list .entry .text-info .sub-title {
  margin-top: 2px;
  font-size: 14px;
}
.cm-page .detail-panel .panel-bd .entry-list .entry .text-info .desc {
  margin-top: 2px;
  line-height: 20px;
}
.cm-page .detail-panel .panel-bd .entry-list .entry .text-info .time {
  margin-top: 5px;
}
.cm-page .detail-panel .panel-bd .entry-list .entry + .entry {
  margin-top: 20px;
}
.cm-page .detail-panel .member-content {
  padding: 20px;
}
.cm-page .detail-panel .member-content .block .block-hd {
  font-size: 24px;
  color: #333;
  padding: 10px 0px;
}
.cm-page .detail-panel .member-content .block .block-bd {
  padding: 0px 20px;
}
.cm-page .detail-panel .member-content .block + .block {
  margin-top: 20px;
}
.cm-page .detail-panel .member-content .apply {
  text-align: center;
}
.cm-page .detail-panel .member-content .apply .handle-btn {
  display: inline-block;
  background: url("../images/common/handle-btn-bg.png") no-repeat;
  width: 135px;
  height: 49px;
  background-size: cover;
  font-size: 24px;
  color: #ffd800;
  font-family: '宋体';
  line-height: 49px;
  text-align: center;
}
.cm-page .detail-panel .member-content .apply .handle-btn:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}
.cm-page .detail-panel .member-content .member-list .list-hd {
  padding: 10px 0px;
  font-size: 20px;
  color: #333;
}
.cm-page .detail-panel .member-content .member-list .list-bd ul li {
  display: inline-block;
  font-size: 16px;
  color: #666;
  padding: 5px 12px;
}
.cm-page .detail-panel .member-content .member-list .list-bd ul li .index {
  margin-right: 4px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #666;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
}
.cm-page .detail-panel .member-content .member-list .list-bd ul li.active {
  cursor: pointer;
  color: #6e0d00;
}
.cm-page .detail-panel .member-content .member-list .list-bd ul li.active a {
  color: #6e0d00;
}
.cm-page .detail-panel .member-content .member-list + .member-list {
  margin-top: 20px;
}
.cm-page .detail-panel .member-content .link-btn {
  font-size: 16px;
  color: #6e0d00;
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  .cm-page .introduce-panel {
    padding-top: 0rem;
  }
  .cm-page .introduce-panel .avatar {
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
    margin-left: 0.2rem;
  }
  .cm-page .introduce-panel .avatar .avatar-mask {
    width: 2rem;
    height: 2rem;
  }
  .cm-page .introduce-panel .text-info {
    margin-left: 0.2rem;
    padding-right: 0.2rem;
    width: 68%;
  }
  .cm-page .introduce-panel .text-info .title {
    font-size: 0.32rem;
  }
  .cm-page .introduce-panel .text-info .desc {
    margin-top: 0.1rem;
    font-size: 0.24rem;
    color: #333;
    line-height: 0.36rem;
  }
  .cm-page .introduce-panel .text-info .handle-btn {
    margin-top: 0.2rem;
    padding: 0.08rem 0.24rem;
    font-size: 0.28rem;
  }
  .cm-page .introduce-panel .text-info .link-btn {
    padding-left: 5px;
    color: #850303;
  }
  .cm-page .introduce-panel .gallery {
    margin-bottom: 0.3rem;
    width: 100%;
    height: 3rem;
  }
  .cm-page .detail-panel {
    margin-top: 0.4rem;
    padding: 0rem 0.2rem;
  }
  .cm-page .detail-panel .panel-bd {
    padding-top: 0.3rem;
  }
  .cm-page .detail-panel .panel-bd .entry-list .entry {
    padding: 0.2rem 0rem;
  }
  .cm-page .detail-panel .panel-bd .entry-list .entry .cover {
    float: left;
    width: 2.16rem;
    /*  height: 1.48rem;*/
    height: 1.6rem;
    background: #eaeaea;
  }
  .cm-page .detail-panel .panel-bd .entry-list .entry .text-info {
    padding-left: 2.3rem;
    padding-right: 0rem;
    font-size: 0.24rem;
  }
  .cm-page .detail-panel .panel-bd .entry-list .entry .text-info .title {
    margin-top: 0rem;
    font-size: 0.28rem;
    color: #891619;
  }
  .cm-page .detail-panel .panel-bd .entry-list .entry .text-info .sub-title {
    margin-top: 0.04rem;
    font-size: 0.28rem;
  }
  .cm-page .detail-panel .panel-bd .entry-list .entry .text-info .desc {
    margin-top: 2px;
    line-height: 20px;
  }
  .cm-page .detail-panel .panel-bd .entry-list .entry .text-info .time {
    margin-top: 0.1rem;
  }
  .cm-page .detail-panel .panel-bd .entry-list .entry + .entry {
    margin-top: 0rem;
    border-top: 1px dashed #cdc29c;
  }
  .cm-page .detail-panel .member-content {
    padding: 0rem;
  }
  .cm-page .detail-panel .member-content .block .block-hd {
    font-size: 0.4rem;
  }
  .cm-page .detail-panel .member-content .block .block-bd {
    padding: 0px 0.2rem;
  }
  .cm-page .detail-panel .member-content .block + .block {
    margin-top: 0.2rem;
  }
  .cm-page .detail-panel .member-content .apply .handle-btn {
    width: 2.16rem;
    height: 0.78rem;
    font-size: 0.4rem;
    line-height: 0.78rem;
  }
  .cm-page .detail-panel .member-content .member-list .list-hd {
    font-size: 0.36rem;
  }
  .cm-page .detail-panel .member-content .member-list .list-bd ul li {
    font-size: 0.28rem;
  }
  .cm-page .detail-panel .member-content .member-list .list-bd ul li .index {
    width: 0.36rem;
    height: 0.36rem;
    border-radius: 50%;
    text-align: center;
    line-height: 0.36rem;
    font-size: 0.24rem;
  }
  .cm-page .detail-panel .member-content .member-list + .member-list {
    margin-top: 20px;
  }
  .cm-page .detail-panel .member-content .link-btn {
    font-size: 16px;
    color: #6e0d00;
    text-decoration: underline;
  }
}
